<template>
  <div class="container text-center">
    <h1>Login Page</h1>
    <login-form></login-form>
  </div>
</template>

<script>
import LoginForm from "../LoginForm.vue";
export default {
  name: "Login",
  components: { LoginForm },
};
</script>

<style>
</style>