<template>
  <div class="container text-center">
    <h1>Register Page</h1>
    <register-form></register-form>
  </div>
</template>

<script>
import RegisterForm from "../RegisterForm.vue";

export default {
  components: { RegisterForm },
  name: "Register",
};
</script>

<style>
</style>