<template>
  <div>
    <navbar></navbar>
    <div class="container">
      <login></login>
      <register></register>
    </div>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";
import Login from "./components/page/Login.vue";
import Register from './components/page/Register.vue';
export default {
  name: "App",
  components: { Navbar, Login, Register },
};
</script>
