<template>
  <div class="container text-center">
    <form action="" method="POST">
      <input type="text" name="login" placeholder="Login" />
      <hr />
      <input type="password" name="password" placeholder="Password" />
      <hr />
      <button>Signin</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
};
</script>
