<template>
  <nav class="nav navbar">
    <h1>Navbar</h1>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
};
</script>


<style>
.nav {
  width: 100%;
  height: 75px;
  border: solid 0.5px black;
}
</style>