<template>
  <div class="container text-center">
    <form action="" method="POST">
      <input type="text" name="name" placeholder="Name" />
      <hr />
      <input type="text" name="lastName" placeholder="Lastname" />
      <hr />
      <label>
        male:
        <input type="radio" name="gender" />
      </label>
      <label>
        female:
        <input type="radio" name="gender" />
      </label>
      <hr />
      <input type="text" name="login" placeholder="Login" />
      <hr />

      <input type="password" name="password" placeholder="Password" />
      <hr />
      <button>Signup</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "RegisterForm",
};
</script>
